.hidden-print, .modebar, .btn, input {
  display: none;
}

@media print {
    tbody tr:nth-child(odd) {
        background-color: #f2f2f2 !important;
        -webkit-print-color-adjust: exact; 
    }
}

/*
// does not seem to work on svgs for some reason
.ygrid {
  stroke: rgb(100, 100, 100); 
  stroke-opacity: 1; 
  stroke-width: 1px;
}
*/

.col-sm-4 {
  float:left;
}

.control-label {
  float:left;
  margin: 0 20px 0 0;
}

table  {
  width: 100% !important;
  /*max-width: 700px !important;*/
  margin: 40px 0 0 0;
  border-spacing: 0;
}

td,th  {
  border-top: solid 1px lightgrey;
  text-align: right !important;
}

th  {
  border-bottom: solid 1px black !important;
  /* text-align: left !important;*/
}

th:nth-child(1)  {
  text-align: left !important;
}

td:nth-child(1)  {
  text-align: left !important;
}

h3 {
  margin-top: 10px;
  text-transform: uppercase;
}

th {
  text-transform: capitalize;
}

.content {
  padding: 27px;
}

.skin-black .left-side, .skin-black .main-sidebar, .skin-black .wrapper {
  background-color: white;
}

.skin-black .sidebar-menu>li>.treeview-menu {
  margin: 0 0 0 3px;
}

.sidebar-menu .treeview-menu>li>a {
  padding: 12px 5px 12px 35px;
}

.skin-black .sidebar a {
  color: #555;
}

.nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #233;
}

#eventsheader {
	background: rgb(29,114,170);
	color: white;
}

#eventsheader h3, #spaceheader1 h3, #spaceheader2 h3, #spaceheader3 h3, #spaceheader4 h3, #onlineheader1 h3, #onlineheader2 h3, #materialsheader1 h3, #materialsheader2 h3 , #eressourcesheader h3, #datasourcesheader h3 {
  display: inline-block;
}

#spaceheader1, #spaceheader2, #spaceheader3, #spaceheader4 {
	background: rgb(174,176,81);
	color: white;
}

#onlineheader1, #onlineheader2 {
	background: rgb(70,140,140);
	color: white;
}

#materialsheader1, #materialsheader2 {
	background: rgb(59,54,74);
	color: white;
}

#eressourcesheader {
	background: rgb(174,176,81);
	color: white;
}

#datasourcesheader {
  background: rgb(225,123,81);
	color: white;
}

.fa-building-o {
  color: white;
  background: white url("detfysiskerumsort.png") ;
  background-size: auto 100%;
}

.navbar-custom-menu button {
  margin-top: 8px;
  margin-right: 42px;
}

.sidebar-menu img {
  margin-right: 5px;
}

/* kpitiles */
.info-box-icon {
  line-height: 80px;
}

.plotteren { 
  width: 600px;
}