h3 {
  margin-top: 10px;
  text-transform: uppercase;
}

.content {
  padding: 27px;
}

.skin-black .left-side, .skin-black .main-sidebar, .skin-black .wrapper {
  background-color: white;
}

.skin-black .sidebar-menu>li>.treeview-menu {
  margin: 0 0 0 3px;
}

.sidebar-menu .treeview-menu>li>a {
  padding: 12px 5px 12px 35px;
}

.skin-black .sidebar a {
  color: #555;
}


.nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #233;
}

#shiny-tab-events .box:first-child {
	background: rgb(29,114,170);
	color: white;
}

#shiny-tab-visits .box:first-child, #shiny-tab-eventareas .box:first-child, #shiny-tab-meetingrooms .box:first-child {
	background: rgb(174,176,81);
	color: white;
}


